<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1" verbose="1">
	<listeners>
		<listener class-name="com.inetBanking.utilities.Reporting" />
	</listeners>
	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />

		<classes>

			<!--	<class name="com.inetBanking.testCases.TC_LoginTest_001" />-->
			<class name="com.inetBanking.testCases.TC_LoginDDT_002" />
		</classes>
	</test>


</suite>